@charset "utf-8";

body,h1,p {
  margin: 0;
}

header {
  margin-bottom: 20px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
  background-color: rgb(244, 79, 79);
}

h1 {
  color:rgb(255, 255, 255);
}

main {
  padding: 10px;

}

#parent {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.contents {
  border: 3px solid rgb(238, 204, 204);
  flex-basis: 25%;
  padding: 10px 15px;
  margin: 20px 0;
  text-align: center;
}
h2::before {
  content: "â—";
  font-weight: bold;
  color: rgb(239, 111, 139);
}

h2 { 
   font-size: 25px;
  border-bottom:  3px dotted rgb(236, 122, 122);
} 
p:nth-of-type(2):first-letter {
  color: rgb(97, 206, 249);
}

.contents>img {
  margin: 10px 0;
  width: 70%;
}

footer {
  background-color: rgb(244, 79, 79);
  text-align: center;
}
.corpo {
  color: rgb(255, 255, 255);
} 

footer>a:visited{
 color: rgb(193,234,251);
}

 footer>a:hover{
   color: rgb(245,234,251);
}

@media  screen and (max-width: 768px) {
  #parent {
  display: flex;
  flex-direction: column;
  }

  #parent>h2 {
    font-size: 30px;
  }
  p {
    font-size: 25px;
  }

}


